@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  font-family: "Roboto, sans-serif",
}

body{
  font-family: "Roboto", sans-serif;

}

/* For WebKit browsers like Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #961a56; /* Color of the scrollbar handle */
  border-radius: 10px;
  border: 1px solid #f1f1f1; /* Padding around the handle */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #961a56; /* Color when hovering */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #961a56 #f1f1f1;
}



/* -------------------------OTP File---------------------- */
.otpContainer{
  display: flex;
  justify-content: center;
  align-items: center;
padding: 1rem 10%;
height: auto;


}
.otpInput{
padding: 1rem;
text-align: center;
width: 4rem;
margin-left: 1rem;
font-size: 2rem;
}

@media (max-width: 600px) {
 .otpInput {
    width: 2rem;
width: 2rem;
padding: 0.5rem;
font-size: 1rem;

  }
}
